online:
    - mode: stream
    - source
        - type: kafka
        - server: b-1.xmeprodlog.o53475.c3.kafka.ap-southeast-1.amazonaws.com:9092,b-2.xmeprodlog.o53475.c3.kafka.ap-southeast-1.amazonaws.com:9092,b-3.xmeprodlog.o53475.c3.kafka.ap-southeast-1.amazonaws.com:9092
        - topic: client_cold_start
    - sink
        - type: doris
        - host: 172.31.0.82
        - port: 8030
        - db: xme_dw_ods
        - table: xme_ods_user_kafka_client_cold_start_di
        - user: root
        - pass: JzyZqbx!309