prod: # 生产环境配置
    - mode: stream
    - source
        - type: mysql
        - driver: com.mysql.cj.jdbc.Driver
        - connector: jdbc
        - host: xme-prod-rds-analysis-readonly.chkycqw22fzd.ap-southeast-1.rds.amazonaws.com
        - port: 3306
        - db: content_behavior
        - table: user_interests
        - user: prod-bigdata-user-interests
        - pass: Dd4.fD3DFDk4.9cc
    - sink
        - type: doris
        - host: 172.31.0.82
        - port: 8030
        - db: xme_dw_ods
        - table: xme_ods_user_rds_user_interests_di
        - user: flink_user
        - pass: flink@123
test: # 测试环境配置
    - mode: stream
    - source
        - type: mysql
        - driver: com.mysql.cj.jdbc.Driver
        - connector: jdbc
        - host: xme-envtest-rds.chkycqw22fzd.ap-southeast-1.rds.amazonaws.com
        - port: 3306
        - db: content_behavior
        - table: user_interests
        - user: bigdata-user-interests
        - pass: BId.3DKRF5dDFwfs
    - sink
        - type: doris
        - host: 172.31.0.82
        - port: 8030
        - db: xme_dw_ods
        - table: xme_ods_user_rds_user_interests_di
        - user: root
        - pass: doris@123