online:
    - mode: batch  # [batch|stream], batch即数据源不支持实时流，比如mysql未开启binlog, 需要根据key_column定时批量同步，stream即实时流
    - source
        - type: mysql
        - driver: com.mysql.cj.jdbc.Driver
        - connector: jdbc
        - host: xme-prod-rds-content.chkycqw22fzd.ap-southeast-1.rds.amazonaws.com
        - port: 3306
        - db: content_data_20250114
        - table: content_audit_record
        - user: content-ro
        - pass: k5**^k12o
    - sink
        - type: doris
        - host: 172.31.0.82
        - port: 8030
        - db: xme_dw_ods
        - table: xme_ods_content_content_audit_record_di
        - user: root
        - pass: JzyZqbx!309